name: Latest binaries

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
          - goos: windows
            goarch: amd64
    runs-on: ubuntu-latest
    env:
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
    steps:
      - name: Set up vars
        id: vars
        run: |
          GOEXE="$(go env GOEXE)"
          COMMIT_HASH="${GITHUB_SHA:0:7}"
          OUTPUT="mcvisor_${COMMIT_HASH}_${{ matrix.goos }}_${{ matrix.goarch }}${GOEXE}"
          echo ::set-output name=COMMIT_HASH::${COMMIT_HASH}
          echo ::set-output name=OUTPUT::${OUTPUT}

      - name: Check out sources
        uses: actions/checkout@v2

      - name: Set up go
        uses: actions/setup-go@v3
        with:
          go-version: "^1.18"

      - name: Build
        env:
          OUTPUT: ${{ steps.vars.outputs.OUTPUT }}
        run: |
          go build -v -o "$OUTPUT" ./cmd/mcvisor
          sha512sum "$OUTPUT" > "${OUTPUT}.sha512"

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: mcvisor ${{ steps.vars.outputs.COMMIT_HASH }}
          path: "./mcvisor*"
