name: Test

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out sources
        uses: actions/checkout@v2

      - name: Set up go
        uses: actions/setup-go@v3
        with:
          go-version: "^1.18"

      - name: Test
        run: ./make test
